<!doctype html>
<title>{% block title %}{% endblock %} - Mari Husain</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Mari Husain</h1>
  <ul>
  	<li><a href="{{ url_for('main.index') }}">Home</a></li>
  	<li><a href="{{ url_for('colors.index') }}">Colors!</a></li>
  	<li><a href="{{ url_for('main.resume') }}">Resume</a></li>
  	<li><a href="http://github.com/mari-husain">Github</a></li>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>